:root {
    --color-gold: #B99362;
  }
  /* body {
    background-color: #222
  } */
  svg {
    height: 100vh;
  }
  .container {
    height: 100vh;
  }

  .state {
    fill: #ffffff;
  }

  path {
    stroke: white;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
  }

  /* 用德州測試，單獨州可以擁有自己的CSS，可以用不同顏色等 */
  .fl, .az, .ga, .ut, .wy {
    animation: sparking 4s infinite;
  }
  
  @keyframes sparking {
    0% { fill: #222;}
    50% { fill: #ffffff; }
    100% { fill: #222; }
  }